[user]
	email = thyrc@users.noreply.github.com
	name = thyrc
[push]
	default = simple
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
[include]
    path = ~/.gitconfig.local
