# for have colors
autoload -U colors
colors

# define your colors here (i hate white background)
host_color="green" 
path_color="blue"
date_color="white"

function prompt_e0b0 {
    echo -ne '\ue0b0'
}

case $TERM in
    xterm*|Eterm*|aterm|kterm|gnome*|interix|konsole*)
        PS1="%B%F{green}%K{blue}%n@%m %k%b%F{blue}%K{white}$(prompt_e0b0) %F{black}%~ %k%F{white}$(prompt_e0b0)%f " 
        precmd () {print -Pn "\e]0;%n@%m: %~\a"}
        ;;
    screen*)
        PS1="%B%F{green}%K{blue}%n@%m %k%b%F{blue}%K{white}$(prompt_e0b0) %F{black}%~ %k%F{white}$(prompt_e0b0)%f " 
        ;;
    *)
        PS1="%B%F{green}%n@%m%k %B%F{blue}%~ %# %b%f%k"
        ;;
esac

if [[ "$PANTS" != "ON" ]]; then
    PS1="%B%F{green}%n@%m%k %B%F{blue}%~ %# %b%f%k"
fi
